<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cninsure.system.entity">
	<!-- INSCDept -->
	<select id="INSCDept_insert" parameterType="com.cninsure.system.entity.INSCDept" resultType="int">
		insert into INSCDept
		(id,operator,createtime,modifytime,noti,deptinnercode,trydept,comcode,upcomcode,treedept,comname,shortname,comkind,comtype,comgrade,type,rearcomcode,province,city,county,address,zipcode,phone,fax,email,webaddress,satrapname,satrapcode,satrapphone,childflag,orderflag,treelevel,status) 
		values
		(#{id},#{operator},#{createtime},#{modifytime},#{noti},#{deptinnercode},#{trydept},#{comcode},#{upcomcode},#{treedept},#{comname},#{shortname},#{comkind},#{comtype},#{comgrade},#{type},#{rearcomcode},#{province},#{city},#{county},#{address},#{zipcode},#{phone},#{fax},#{email},#{webaddress},#{satrapname},#{satrapcode},#{satrapphone},#{childflag},#{orderflag},#{treelevel},#{status}) 
	</select>
	<select id="INSCDept_selectByParentDeptCode" parameterType="String"
		resultType="com.cninsure.system.entity.INSCDept">
		select * from INSCDept WHERE upcomcode = #{value}  ORDER BY comgrade ASC
	</select>
	
	<select id="INSCDept_selectByParentDeptCodeAgr" parameterType="Map"
		resultType="com.cninsure.system.entity.INSCDept">
		select * from INSCDept
		<where>
				upcomcode = #{upcomcode}
			<if test="comtype!=null and comtype != '' ">
				and comtype = #{comtype}
			</if>
		</where>
		ORDER BY comgrade ASC
	</select>
	
	<select id="INSCDept_selectByParentDeptCode4group" parameterType="String"
		resultType="Map">
		select comcode,comname,id from INSCDept WHERE upcomcode = #{value}  ORDER BY comgrade ASC
	</select>
	<select id="INSCDept_selectCodesByParentCodesIsNull" resultType="Map">
		select comcode,upcomcode from INSCDept WHERE parentcodes  is null
	</select>
	
	
	<select id="INSCDept_selectParentCodesByComcode" resultType="String" parameterType="String">
		select parentcodes from INSCDept WHERE comcode=#{value}
	</select>
	
	
	<select id="INSCDept_selectParentCodeByCode" parameterType="String"
		resultType="com.cninsure.system.entity.INSCDept">
		select comcode,comname,upcomcode,comtype from INSCDept WHERE comcode = #{value}
	</select>
	
	
	<select id="INSCDept_updateParentCodesByComcode" parameterType="Map">
		update  INSCDept set parentcodes=#{parentcodes}  WHERE comcode = #{comcode}
	</select>
	
	
	<select id="INSCDept_selectCodeByParentCode" parameterType="String"
		resultType="String">
		select comcode from INSCDept WHERE upcomcode = #{upcomcode} 
	</select>
	
	<select id="INSCDept_selectByDeptCode" parameterType="String"
		resultType="com.cninsure.system.entity.INSCDept">
		select * from INSCDept WHERE comcode = #{value}  
	</select>
	
	<select id="INSCDept_selectByDept" parameterType="String" resultType="com.cninsure.system.entity.INSCDept">
		select * from INSCDept order by #{fieldName},orderflag  
	</select>
	
	<select id="INSCDept_selectAllChildrenBycode" parameterType="String" resultType="String">
		select comcode from INSCDept where parentcodes like CONCAT('%',#{comcode},'%')  
	</select>
	
	<select id="INSCDept_queryPid" parameterType="String" resultType="com.cninsure.system.entity.INSCDept">
		select id from INSCDept where noti = #{noti} 
	</select>
	
	<select id="INSCDept_select" parameterType="Map" resultType="com.cninsure.system.entity.INSCDept">
		select * from INSCDept
		<where>
			<if test="deptinnercode != null">
				and deptinnercode = #{deptinnercode}
			</if>
			<if test="trydept != null">
				and trydept = #{trydept}
			</if>
			<if test="comcode != null">
				and comcode = #{comcode}
			</if>
			<if test="upcomcode != null">
				and upcomcode = #{upcomcode}
			</if>
			<if test="treedept != null">
				and treedept = #{treedept}
			</if>
			<if test="comname != null">
				and comname = #{comname}
			</if>
			<if test="shortname != null">
				and shortname = #{shortname}
			</if>
			<if test="comkind != null">
				and comkind = #{comkind}
			</if>
			<if test="comtype != null">
				and comtype = #{comtype}
			</if>
			<if test="comgrade != null">
				and comgrade = #{comgrade}
			</if>
			<if test="type != null">
				and type = #{type}
			</if>
			<if test="deptid != null">
				and deptid = #{deptid}
			</if>
			<if test="rearcomcode != null">
				and rearcomcode = #{rearcomcode}
			</if>
			<if test="province != null">
				and province = #{province}
			</if>
			<if test="city != null">
				and city = #{city}
			</if>
			<if test="county != null">
				and county = #{county}
			</if>
			<if test="address != null">
				and address = #{address}
			</if>
			<if test="zipcode != null">
				and zipcode = #{zipcode}
			</if>
			<if test="phone != null">
				and phone = #{phone}
			</if>
			<if test="fax != null">
				and fax = #{fax}
			</if>
			<if test="email != null">
				and email = #{email}
			</if>
			<if test="webaddress != null">
				and webaddress = #{webaddress}
			</if>
			<if test="satrapname != null">
				and satrapname = #{satrapname}
			</if>
			<if test="satrapcode != null">
				and satrapcode = #{satrapcode}
			</if>
			<if test="satrapphone != null">
				and satrapphone = #{satrapphone}
			</if>
			<if test="childflag != null">
				and childflag = #{childflag}
			</if>
			<if test="orderflag != null">
				and orderflag = #{orderflag}
			</if>
			<if test="treelevel != null">
				and treelevel = #{treelevel}
			</if>
			<if test="status != null">
				and status = #{status}
			</if>
		</where>
	</select>
	<select id="INSCDept_selectOne" parameterType="Map" resultType="com.cninsure.system.entity.INSCDept">
		select * from INSCDept
		<where>
			<if test="deptinnercode != null">
				and deptinnercode = #{deptinnercode}
			</if>
			<if test="trydept != null">
				and trydept = #{trydept}
			</if>
			<if test="comcode != null">
				and comcode = #{comcode}
			</if>
			<if test="upcomcode != null">
				and upcomcode = #{upcomcode}
			</if>
			<if test="treedept != null">
				and treedept = #{treedept}
			</if>
			<if test="comname != null">
				and comname = #{comname}
			</if>
			<if test="shortname != null">
				and shortname = #{shortname}
			</if>
			<if test="comkind != null">
				and comkind = #{comkind}
			</if>
			<if test="comtype != null">
				and comtype = #{comtype}
			</if>
			<if test="comgrade != null">
				and comgrade = #{comgrade}
			</if>
			<if test="type != null">
				and type = #{type}
			</if>
			<if test="deptid != null">
				and deptid = #{deptid}
			</if>
			<if test="rearcomcode != null">
				and rearcomcode = #{rearcomcode}
			</if>
			<if test="province != null">
				and province = #{province}
			</if>
			<if test="city != null">
				and city = #{city}
			</if>
			<if test="county != null">
				and county = #{county}
			</if>
			<if test="address != null">
				and address = #{address}
			</if>
			<if test="zipcode != null">
				and zipcode = #{zipcode}
			</if>
			<if test="phone != null">
				and phone = #{phone}
			</if>
			<if test="fax != null">
				and fax = #{fax}
			</if>
			<if test="email != null">
				and email = #{email}
			</if>
			<if test="webaddress != null">
				and webaddress = #{webaddress}
			</if>
			<if test="satrapname != null">
				and satrapname = #{satrapname}
			</if>
			<if test="satrapcode != null">
				and satrapcode = #{satrapcode}
			</if>
			<if test="satrapphone != null">
				and satrapphone = #{satrapphone}
			</if>
			<if test="childflag != null">
				and childflag = #{childflag}
			</if>
			<if test="orderflag != null">
				and orderflag = #{orderflag}
			</if>
			<if test="treelevel != null">
				and treelevel = #{treelevel}
			</if>
			<if test="status != null">
				and status = #{status}
			</if>
		</where>
		LIMIT 2
	</select>
	<select id="INSCDept_selectById" parameterType="String" resultType="com.cninsure.system.entity.INSCDept">
		select * from INSCDept where id = #{id}
	</select>
	<select id="INSCDept_deleteById" parameterType="String">
		delete from INSCDept where id = #{id}
	</select>
	<select id="INSCDept_updateById" parameterType="com.cninsure.system.entity.INSCDept">
		update INSCDept  set operator = #{operator},modifytime = #{modifytime},noti = #{noti},deptinnercode = #{deptinnercode},comcode = #{comcode},upcomcode = #{upcomcode},treedept = #{treedept},comname = #{comname},shortname = #{shortname},comkind = #{comkind},comtype = #{comtype},comgrade = #{comgrade},type = #{type},rearcomcode = #{rearcomcode},province = #{province},city = #{city},county = #{county},address = #{address},zipcode = #{zipcode},phone = #{phone},fax = #{fax},email = #{email},webaddress = #{webaddress},satrapname = #{satrapname},satrapcode = #{satrapcode},satrapphone = #{satrapphone},orderflag = #{orderflag},treelevel = #{treelevel},status = #{status},parentcodes=#{parentcodes} where id = #{id}
	</select>
	
	<update id="INSCDept_updateDeptByid" parameterType="com.cninsure.system.entity.INSCDept">
		update INSCDept  set childflag = '1' where id = #{id}
	</update>
	
	<update id="INSCDept_updateDeptByiddel" parameterType="com.cninsure.system.entity.INSCDept">
		update INSCDept  set childflag = '0' where id = #{id}
	</update>
	
	
	<select id="INSCDept_selectCount" parameterType="Map" resultType="Long">
		select count(1) from INSCDept
		<where>
			<if test="deptinnercode != null">
				and deptinnercode = #{deptinnercode}
			</if>
			<if test="comcode != null">
				and comcode = #{comcode}
			</if>
			<if test="upcomcode != null">
				and upcomcode = #{upcomcode}
			</if>
			<if test="treedept != null">
				and treedept = #{treedept}
			</if>
			<if test="comname != null">
				and comname = #{comname}
			</if>
			<if test="shortname != null">
				and shortname = #{shortname}
			</if>
			<if test="comkind != null">
				and comkind = #{comkind}
			</if>
			<if test="comtype != null">
				and comtype = #{comtype}
			</if>
			<if test="comgrade != null">
				and comgrade = #{comgrade}
			</if>
			<if test="type != null">
				and type = #{type}
			</if>
			<if test="deptid != null">
				and deptid = #{deptid}
			</if>
			<if test="rearcomcode != null">
				and rearcomcode = #{rearcomcode}
			</if>
			<if test="province != null">
				and province = #{province}
			</if>
			<if test="city != null">
				and city = #{city}
			</if>
			<if test="county != null">
				and county = #{county}
			</if>
			<if test="address != null">
				and address = #{address}
			</if>
			<if test="zipcode != null">
				and zipcode = #{zipcode}
			</if>
			<if test="phone != null">
				and phone = #{phone}
			</if>
			<if test="fax != null">
				and fax = #{fax}
			</if>
			<if test="email != null">
				and email = #{email}
			</if>
			<if test="webaddress != null">
				and webaddress = #{webaddress}
			</if>
			<if test="satrapname != null">
				and satrapname = #{satrapname}
			</if>
			<if test="satrapcode != null">
				and satrapcode = #{satrapcode}
			</if>
			<if test="satrapphone != null">
				and satrapphone = #{satrapphone}
			</if>
			<if test="childflag != null">
				and childflag = #{childflag}
			</if>
			<if test="orderflag != null">
				and orderflag = #{orderflag}
			</if>
			<if test="treelevel != null">
				and treelevel = #{treelevel}
			</if>
			<if test="status != null">
				and status = #{status}
			</if>
		</where>
	</select>
	<select id="INSCDept_selectCom" parameterType="Map" resultType="com.cninsure.system.entity.INSCDept">
	SELECT i.comname from inscdept i LEFT JOIN insboutorderdept s ON i.deptid=s.deptid1 LEFT JOIN insborderdelivery b ON b.deptcode=s.id
		WHERE b.deptcode=#{deptcode}
	</select>
	<select id="INSCDept_selectWDidsByPatId" parameterType="Map" resultType="String">
	SELECT * FROM inscdept  
	  <where>
	      parentcodes  like CONCAT('%',#{id},'%') 
	    <if test="comtype != null and comtype != ''">
	     and comtype = #{comtype} 
	    </if>
	  </where>
	</select>
</mapper>