@charset "utf-8";
/* CSS Document */
*{box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;}

html, body{width:100%;height:100%; min-width:1200px;}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,    
form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0;font-family:Helvetica,"Microsoft Yahei","微软雅黑",Arial,sans-serif;} 
body {	 background-color:#fff;	font-size:12px;
          -webkit-text-size-adjust: 100%;/*解决Iphone下橱窗字体变大问题*/
      }

nav, footer, section, header, article, figure {padding: 0;margin: 0;display: block;}
ul,li {list-style: none;}
h1,h2,h3,h4,div,li,p,menu,dl,dt,dd{ font-size:100%; text-align:left;}
h1,h2,h3,h4{ font-weight:normal;}
a{ text-decoration:none;}

a:link, a:visited, a:active {text-decoration:none;}

/*触按效果*/
.icon-wrap{}
.icon-wrap.touch{ background-color:#e5e5e5;}

.sel1{border:1px solid #999999; border-right:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8;}

a:hover{ text-decoration: underline;}
img{border:0; height:auto;max-width:100%;}

input[type="text"]:not(.selectbox),input[type="number"],input[type="password"] {
	outline-style: none; 
	/*border:none;border:0;*/
}

button{border-radius:0;}
/*select{ appearance:none;-webkit-appearance: none; border:none;background-color:transparent; outline:none;}
*/
::-webkit-input-placeholder {color:#ccc;}
:-moz-placeholder {color:#ccc;}
::-moz-placeholder {color:#ccc;}
:-ms-input-placeholder {color:#ccc;}


textarea{ outline:none; border:0;outline-style: none;border:none;border:0;}

.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden;}
/** html .clearfix { height:1%;}
.clearfix { display:block;}*/


.bg1{ background-color:#fff;}/*白色*/
.bg2{ background-color:#f5f5f5;}/*灰色*/
.bg3{ background-color:#ec3e33;}/*红色*/
.bg5{ background-color:#fafafa;}/*灰色2*/
.bg4{ background-color:#ffb443;}/*橘色*/


.c1{ color:#313131;}
.c2{ color:#bf0008;}
.c3{ color:#2ea7e7;}
.c4{ color:#ab0c03;}
.c5{ color:#ff7926;}




.f-left{float:left;}
.f-right{float:right;}
.f-none{ float:none;}

.t-left{ text-align:left;}
.t-center{ text-align:center;}
.t-right{ text-align:right;}

.relative{position: relative;}

.fw1{font-weight: normal;}

 .mess{overflow: hidden;text-overflow:ellipsis; white-space: nowrap;}

 .dblock{display: block;}
 .dblock2{display: inline-block; }

.f1{ font-size:12px;}
.f2{ font-size:14px;}
.f3{ font-size:16px;}
.f4{ font-size:18px;}
.f5{ font-size:20px;}
.f6{ font-size:22px;}
.f7{ font-size:24px;}
.f8{ font-size:26px;}
.f9{ font-size:28px;}
.f10{     
	font-size:16px;
	width: 540px; 
	height: 180px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;}
/*后台生成第一个p隐藏*/
.f10 p:nth-child(1){ display: none;}


.mar1{margin-top:25px;}
.mar2{margin-top:5px;}


.pad0{padding:0;}
.pad00{padding:0 0 0 15px;}
.pad1{padding-right:20px;}
.pad2{padding:20px;}
.pad22{padding:10px;}
.pad3{padding:13px 20px 13px;}
.pad4{padding:0 2px;}
.pad5{padding:20px 58px;}
.pad6{padding:30px;}
.pad66{padding:5px 30px;}
.pad7{padding:15px 15px 0;}
.pad8{padding:10px;}
.pad9{padding:0 10px;}
.pad10{padding:0 3px 0 0;}
.pad11{padding:0 0 0 3px;}
.pad12{padding-top:20px;}
.pad13{padding:13px 0;}

.border{border:1px solid #eee;}
.border-t{border-top:1px solid #eee;}
.border-b{border-bottom:1px solid #eee;}
.border-b2{border-bottom:2px solid #eee;}
.border-l{border-left:1px solid #eee;}
.border-r{border-right:1px solid #eee;}
.border-r2{border-right:2px solid #9d9d9d;}

.btn-100{border:none;height: 43px; color:#fff;line-height: 43px; text-align: center; border:none;width:100%;border-radius: 5px; background-color: #f6923a;}
.btn-100.w2{width:60%;}
.m-btn-100{border:none;height: 35px; color:#fff;line-height: 35px; text-align: center; border:none;width:100%; background-color: #ec3e33;}

.btn-small{border:none;height:28px;margin:0 10px; line-height: 28px; padding:0 15px; display: inline-block; text-align: center;color:#fff;border-radius: 5px;background-color: #f6923a;}
.btn-small.bs2{ line-height: 38px;height:38px;}
.btn-small:hover{ text-decoration: none;}

.w0{width:100%;}

.main-cont{margin:0 auto;width:990px;}

.pay-top{}
.pay-top .lt1{width:310px;}
.pay-top .lt2{width:400px; line-height: 21px;}
.pay-top .rt1{ border-left:1px solid #d9d9d9; padding:0 20px;}


.body-cont{padding:28px;}

.nav-list {padding: 0 10px; border-bottom:1px solid #c6c6c6; }
.nav-list b {width:148px; text-align:center;color: #6d4317;cursor: pointer;float:left;font-size: 16px;font-weight: normal;height: 35px;    line-height: 35px;
    margin: 5px 7px 0;padding: 0 10px; background-color: #f7f7f7;border-radius: 3px 3px 0 0; margin-bottom:-1px;}
.nav-list b.active {background-color: #fff;border:1px solid #c6c6c6; border-bottom:none;height: 36px;    line-height: 36px;}
.nav-list a{ padding-top:15px; display: inline-block;}


.first-bank{margin:20px auto;width:800px;}
.first-bank dd{width:370px;}
.first-bank dd.return{width:auto;padding:10px;/*  margin-left:20px; */cursor: pointer;}
.first-bank dd.add{border:1px solid #ddd;width:auto;padding:12px; margin-left:20px;cursor: pointer;}
.first-bank .dt1{width:40px; height:40px;padding:15px;}
/* .first-bank .dd1{margin-left:40px;} */
.first-bank-c{border:1px solid #b0c2e1; border-radius: 2px; line-height:40px; position: relative;}
.first-bank-c em{ font-style: normal;}
.first-bank-c .mar-1{margin-left:15px;}
.first-bank-c .mar-2{margin-right:37px;}
.first-bank-c .sel-btn{ background:url("../../images/payment/sel_btn.png") no-repeat;cursor: pointer;display:none;width: 20px;height: 15px; position: absolute;right: 15px;top: 11px;
    transition: background-color 0.1s ease 0s;}
.first-bank-c:hover{border:1px solid #ff5d5b;}
.first-bank-c .list01{ display: block;}
.first-bank-c .list01 input{display: none;}
.first-bank-c .list01:hover{ background-color: #f5f5f5;}

.first-bank-c .bank-logo {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top:4px;
    margin-bottom:4px;
}

.sel-other{margin:20px auto;width:800px;}
.sel-other .pl-item {background-color: #fff;border: 1px solid #b0c2e1;border-radius: 2px;cursor: pointer;float: left;height: 44px;margin-bottom: 10px;margin-right: 10px;padding: 5px 0;position: relative;transition: border-color 0.2s ease 0s;
    width: 188px;}
.sel-other .pl-item .bank-logo{margin-left: 10px;margin-top:0px;}
.sel-other .pl-item label{display: block; font-weight: normal;}
.sel-other .pl-item label input{margin:10px 10px 0 10px;}
.sel-other .more{ background-color: #d1f1f7; text-align:center; line-height: 44px;width: 188px;cursor: pointer;float: left;}




.bank-logo {   /*  background-image: url("../../images/payment/bjyh.png");  */   background-repeat: no-repeat;display: block;height:33px;overflow: hidden;text-indent: -9999px;width: 138px;}
/* .bank-logo.bjyh{background-image: url("../../images/payment/bjyh.png");  } */

/*平台支付成功*/
.pay-success{margin:50px auto; width:600px;}
.pay-success dt{width:180px; text-align: center; padding: 15px 0;}
.pay-success dd{width:380px;padding-left:20px;border-left:1px solid #eeeeee; line-height: 45px;}
/*平台支付失败*/
.pay-fail{margin:50px auto; width:630px;}
.pay-fail dt{width:180px; text-align: center; padding: 15px 0;}
.pay-fail dd{width:410px;padding-left:20px;border-left:1px solid #eeeeee; line-height: 45px;}
/*遮罩层css*/
.mask{height:300px;width:300px;position:absolute;left:650px;top:300px;z-index:112;}
.hide{display:none;}
.masks{background:#000;opacity:0.3;filter:alpha(opacity:50);position:absolute;top:0px;left:0px;display:-none;z-index:110;}


.pay-flat{margin:30px auto; width:800px;}
.pay-flat p{margin-bottom: 20px;}
.pay-flat i{ display: inline-block;margin-right:10px; font-weight:bold;font-style: normal; font-size:14px; border-radius: 10px;  width:15px;height:15px; text-align: center; line-height: 15px; background-color: #fed183; color:#fff;}
.pay-flat .pl-item {background-color: #fff;border: 1px solid #b0c2e1;border-radius: 2px;cursor: pointer;float: left;height: 38px;margin-bottom: 10px;margin-right: 10px;padding: 5px 0;position: relative;transition: border-color 0.2s ease 0s;
    width: 188px;}
.pay-flat .pl-item .bank-logo{margin-left: 30px;margin-top:3px;}
.pay-flat .pl-item label{display: block; font-weight: normal;}
.pay-flat .pl-item label input{ display: none; opacity: 0;}

.pay-flat-c{border:1px solid #b0c2e1; border-radius: 2px; line-height: 38px; position: relative;}
.pay-flat-c em{ font-style: normal;}
.pay-flat-c .mar-1{margin-left:15px;}
.pay-flat-c .mar-2{margin-right:75px;}
.pay-flat-c:hover{border:1px solid #ff5d5b;}
.pay-flat-c .list01{ display: block;}
.pay-flat-c .list01 input{display: none;}
.pay-flat-c .list01:hover{ background-color: #f5f5f5;}

.pay-flat-c .bank-logo {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top:3px;
}

.sel-b {margin-left:20px; line-height: 42px; cursor: pointer;}
.sel-b b{width:15px;height:15px; background:url(../../images/payment/sprite.png) 0 -40px no-repeat; display: inline-block;vertical-align: -3px;}


/*绑定银行卡*/
.bd-card{margin:30px auto; width:800px;}
.bd-card dt{ float:left;width:110px;padding:0 25px 0 10px; line-height: 45px;  text-align: right;}
.bd-card dd{float:left; line-height: 45px;}
.bd-card dd.dd01{margin-left:100px;}

.label01{cursor: pointer;}
.label01 input{display: none; opacity: 0;}
.label01 b{width:14px;height:14px; display: inline-block; margin-right: 10px; vertical-align: -3px; background:url(../../images/payment/sprite.png) 0 0px no-repeat;}
.label01 input:checked + b{background:url(../../images/payment/sprite.png) 0 -17px no-repeat;}


.ui-input {
    background-color: #fff;
    border: 1px solid #c6c6c6;
    border-radius: 2px;
    box-shadow: 0 1px 1px 1px #ededed inset;
    font-size: 12px;
    height: 30px;
    line-height: 20px;
    padding: 5px 10px;
    transition: border-color 0.1s ease 0s;
    vertical-align: middle;
    width: 208px;
}


.ui-button-XL {
    font-family: "Microsoft Yahei";
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    line-height: 48px;
    padding: 0;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    width: 220px;
}
.ui-button {
    background-color: #ff7573;
    background-image: linear-gradient(to bottom, #ff7573, #f96765);
    background-repeat: repeat-x;
    border: 1px solid #f96765;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #fe8c8a inset;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 42px;
    line-height: 32px;
    padding: 0 28px;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    vertical-align: middle;
}
.agreement-box{ position: absolute; margin:0 auto; left:0;right:0; bottom:50px;background-color:#fff;width:974px;height:550px;  top:120px;border:1px solid #ababab; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.2);}
.agreement-box .title{width:100%;height:56px; background-color: #ebebeb;padding:0 30px; line-height: 56px; font-weight: bold;}
.agreement-box .title b{ font-size:20px;font-family: verdana;}
.agreement-box .txt-box{height:550px;  overflow-y:auto;padding:30px 50px 30px 40px; }
.agreement-box .f-right{cursor:pointer;}
.agreement-box p{line-height: 30px; font-size: 14px; text-align: justify; color: #5f5f5f;margin-bottom: 10px;}
